*{
  margin: 0;
  padding: 0;
  font-family: 'Baloo Bhaijaan 2', cursive;
}
.home{
  background-color: red;
  margin: auto;
}
.homemain{
  width: 70vw;
  height: 85vh;
  margin: auto;
  padding: 3rem;
  /* border: 2px yellow solid; */
}
.homemain h1{
color: lightgray;

}
nav{
  display: flex;

}
nav ul{
  display: flex;
  align-items: center;
  list-style: none;
  width: 100vh;
  justify-content: right;

}
nav h1{
  font-size: 2.5rem;
}
nav ul a{
text-decoration: none;
margin: 1rem;
margin-right: 0px;
font-size: 1.5rem;
font-weight: bolder;
color: lightgray;

}
.left{
  display: flex;
  /* height: 5vh; */


  width: 30vw;
  /* align-items: center; */
  margin-top: 3rem;
  flex-direction: column;
  font-size: 4rem;
  /* border: 2px blue solid; */

  color: pink;
  font-weight:1000;
}

.leftmain{
  display: flex;


}
.right{
  display: flex;
  /* border: 2px yellow solid; */
  margin-top: 6rem;
  width: 30vw;
  height: 40vh;
}
.right img{
  margin: auto;
  height: 400px;
  width: 200px;
  transform: scale(1.5);
  transform: rotate(25deg);
}
.button{
  display: flex;
  align-items: center;

  /* border: 2px solid black; */
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
.button:hover{
   background-color: rgba(0, 0, 0, 1);

}
.btn{
   display: flex;
   /* justify-content: center; */
   align-items: center;
  margin-top: 2rem;
  font-weight: bolder;
}
.button img{
  margin-right: 10px;
  height: 18px;
  width: 18px;
}
#play{
  height: 20px;
  width: 20px;
}
.playa{
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: white; */
  text-decoration: none;
  background-color:unset;
color: white;
background-color: darkred;
  padding: 9px;
  border: 2px lightskyblue solid;
}
.playa:hover{
  background-color: rgba(0, 0, 0, 1);
  color: white;
}





.white{
  display: flex;
justify-content: center;
align-items: center;
  height: 80vh;
  /* border: 2px solid yellow; */
}
.boxes{
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;
  width: 300px;
  /* border: 2px solid blue; */
  margin: 15px auto;
  padding: 10px;
}
.boxes h1{
  /* font: 2.5rem; */
  font-size: 2rem;
  /* color: blue; */
  font-weight: bolder;
  margin: 5px;
}
.boxes p{
  font-size: 1.3rem;
  text-align: center;
  padding: 5px;
}







.about{
  height: 100vh;
  background-color: rgba(255, 68, 0, 0.575);
/* opacity: 0.8; */
}
.spon{
  /* height: 100px; */
  width: 200px;
}
.sponser{
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
}
.sponser img{
  margin: 1rem;
}
.change{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
  height: 60vh;
  width: 70vw;
  margin: 10px auto;
  /* border: 2px yellow solid; */
}
.change h1{
  text-align: center;
}

.dogimage{
  height: 100px;
  width: 100px;
  margin: 1.5rem;
  border-radius: 75px;
}
.by{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: pink;
  margin: 3rem;
}
#para2{
  display: none;
}
.tobeflex{
  display: flex;
}
.signs{
cursor: pointer;

  display: flex;
  justify-content: space-between;
  margin: 1rem;
  color: rgb(48, 21, 110);
  font-size: 2rem;
  position: relative;
  top: 50vh;
  font-weight: bolder;
}



.plan{
/* border: 2px solid yellow; */
margin: 5rem;
text-align: center;
}
.planbox{
  display: flex;
  justify-content: center;
  align-items: center;
}
.planboxes{
  border: rgb(31, 31, 54) solid 2px;
  /* padding: 10px; */
  width: 250px;
  margin: 20px;
}
.planboxes h1{
  padding: 5px;

  padding: 0px;
  font-size: 2rem;
  margin: 5px;
}
.planboxes h2{
  padding: 5px;
  font-size: 2rem;
  border-bottom: blue 1px solid;
  background-color: wheat;
}
.planboxes p{
  font-size: 1.2rem;
  margin: 5px;
  padding: 5px;
}
.signup{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  margin: 10px auto;
  border-radius: 10px;

}
.signup:hover{
  background-color: rgb(22, 65, 82);
  color: lightcyan;
}



.download{
  background-color: red;
  padding: 2rem 10rem;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.download h1{
  font-size: 4rem;
  color: white;
  font-weight: 1000;
  text-align: center;
}



.footer{
  height: 70vh;
  margin: 5rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  font-size: 1.2rem;
  align-items: center;

}
.links{
  display: flex;
  margin: 2rem 0px;
}
.copy{
  margin: 20px;
}
#heart{
  color: red;
}
.developer{
  /* font-size: 1rem; */
  text-decoration: none;
  color: rgb(56, 84, 95);

}
.link{
  margin: 0px 1rem;
}
.link:hover{
  /* margin: 0px 1rem; */
  /* background-color:red; */
}
.developer:hover{
  /* font-size: 1rem; */
  text-decoration: underline;

}
.boxes img{
  background-color: black;
}

.logoimg{
  /* background-color: black; */
height: 40px;
width: 40px;
}


@media screen and (max-width: 1500px) {
  .download h1{
    font-size: 3rem;
  }
}
@media screen and (max-width: 1150px) {
  .left{
    font-size: 3rem;
  }
  .boxes h1 {
    font-size: 1.5rem;
    text-align: center;
  }
}
@media screen and (max-width: 1150px) {
  .left{
    width: 100vw;
  }
  .right{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .right img {
    margin: auto;
    height: 400px;
    width: 200px;
    transform: rotate(0deg);
}
.sponser img {
  margin: 0.5rem;
  width: 150px;
  height: 50px;
}
.sponser{
  flex-wrap: wrap;
}
.by{
  margin: 1rem;
}
.planboxes p {
  font-size: 0.7rem;}
  .planboxes h2 {
    font-size: 1.1rem;}
  .planboxes h1 {
    font-size: 1rem;} 
  .footer{
    margin: 3rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 675px) {
  .sponser img {
    margin: 0.5rem;
    width: 60px;
    height: 30px;
  }
  .by{font-size: 0.5rem;}
  .right img{
    height: 200px;
    width: 100px;
  }
  .left{
    font-size: 2rem;
    font-weight: 1000;
  }
  .download h1 {
    font-size: 1rem;
    width: 80vw;
}
.button {
  font-size: 0.6rem;
  width: 75px;
  height: 10px;
}
.change h1 {
  font-size: 1rem;
}
nav ul a {
margin: 0.5rem;
font-size: 1rem;
}
.homemain h1 {
  font-size: 1.5rem;
}
.planboxes {
  margin: 5px auto;
}
.boxes p {
  font-size: 0.7rem;}


  .boxes h1 {
    font-size: 1rem;}
    .right img {
      height: 150px;
      width: 75px;
  }
  .left {
    font-size: 1.3rem;}
    .homemain h1 {
      font-size: 0.9rem;
  }
  nav ul a {
    font-size: 0.7rem;
}
.white{
  display: unset;
}
.planboxes{
  width: 150px;
}
.planboxes p {
    font-size: 0.3rem;
}
.dogimage {
  height: 50px;
  width: 50px;}
  .planbox {
    flex-direction: column;
}
  }